@import "mixins";

.hidden {
    @include hidden;
    & > * {
        @include hidden;
    }
}

.column-center-container {
  @include flex(column);
  justify-content: center;
  align-items: center;
  padding: 12em;
}
